<template name="projectReport">
  <div>
    {{> projectSubjectsTable}}
    {{> projectSourcesTable}}
  </div>
</template>

<template name="projectSourcesTable">
  {{#if has_sources}}
    <div class="grid-block">
      <table class="table table-striped">
        <caption>{{_ "Sources"}}</caption>
        <thead>
          <tr>
            <th>{{_ "Title"}}</th>
            <th>{{_ "Description"}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each sources}}
            <tr>
              <td>{{title}}</td>
              <td>{{description}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    <div class="jumbotron">
      <p>{{_ "You need to add sources before you can generate a report"}}.</p>
    </div>
  {{/if}}
</template>

<template name="projectSubjectsTable">
  {{#if has_subjects}}
    <div class="grid-block">
      <table class="table table-striped">
        <caption>{{_ "Subjects"}}</caption>
        <thead>
          <tr>
            <th>{{_ "Title"}}</th>
            <th>{{_ "Description"}}</th>
            <th>{{_ "Sources"}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each subjects}}
            <tr>
              <td>{{title}}</td>
              <td>{{description}}</td>
              <td>{{#each subjectSources}}{{title}}<br>{{/each}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
</template>
