<template name="subjectSourceIdSubmit">
  <form name="subject" class="item-form form">
    {{> subjectSelect}}
    {{> sourceSelect}}
    <div class="form-group">
      <div class="controls">
        <label for="data_type">{{_ "Data type"}}</label>
        <select name="data_type" class="form-control">
          {{#each data_types}}
            <option value="{{_id}}">{{title}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="controls">
        <label for="id">{{_ 'Subject-source-id'}}</label>
        <input name="id" id="id" type="text" value="{{id}}"
               required="required"
               placeholder="{{_ 'Subject-source-id'}}" class="form-control"/>
      </div>
    </div>
    <button type="submit" class="btn btn-primary submit">{{_ "OK"}}</button>
    <button type="button" class="btn btn-default cancel">{{_ "Cancel"}}</button>
  </form>
</template>
