<template name="subjectSourceIdEdit">
  <form name="subject_source_id" class="item-form form">
    {{> subjectSelect}}
    {{> sourceSelect}}
    {{> dataTypeSelect}}
    <div class="form-group">
      <div class="controls">
        <label for="id">{{_ "Subject-source-id"}}</label>
        <input name="id" id="id" type="text" value="{{id}}"
               required="required"
               placeholder="{{_ 'Subject-source-id'}}" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary submit">{{_ "OK"}}</button>
      <button type="button" class="btn btn-default cancel">{{_ "Cancel"}}</button>
      <a data-toggle="modal" class="btn btn-danger delete pull-right" href="#deleteSubjectSourceId">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{_ "Delete"}}
      </a>
    </div>
  </form>
  {{>deleteSubjectSourceId}}
</template>

<template name="deleteSubjectSourceId">
  <div class="modal fade" id="deleteSubjectSourceId" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{_ "delete_kind" translated_kind}}</h4>
        </div>
        <div class="modal-body">
          <h4>{{id}}</h4>
          <p>{{description}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{_ "Cancel"}}</button>
          <button type="button" class="btn btn-danger delete" data-dismiss="modal">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{_ "Delete"}}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
