<template name="subjectSourceIdSubmit">
  <form name="subject" class="item-form form">
    {{> titleControl control_id='subject_source_id_title' title='' kind='subject_source_id'}}
    {{> descriptionControl description='' kind='subject_source_id'}}
    <div class="form-group">
      <div class="controls">
        <label for="subject">{{_ "Subject"}}</label>
        <select name="subject" class="form-control">
          {{#each subjects}}
            <option value="{{_id}}">{{title}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="controls">
        <label for="source">{{_ "Source"}}</label>
        <select name="source" class="form-control">
          {{#each sources}}
            <option value="{{_id}}">{{title}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary submit">{{_ "OK"}}</button>
    <button type="button" class="btn btn-default cancel">{{_ "Cancel"}}</button>
  </form>
</template>
