<template name="subjectSourceIdEdit">
  <form name="subject_source_id" class="item-form form">
    {{> titleControl extendContext 'control_id' 'subject_source_id_title'}}
    {{> descriptionControl}}
    <div class="form-group">
      <div class="controls">
        <label for="subject">{{_ "Subject"}}</label>
        <select name="subject" class="form-control">
          {{#each subjects}}
            <option selected="{{subjectIsSelected}}" value="{{_id}}">{{title}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="controls">
        <label for="source">{{_ "Source"}}</label>
        <select name="source" class="form-control">
          {{#each sources}}
            <option selected="{{sourceIsSelected}}" value="{{_id}}">{{title}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary submit">{{_ "OK"}}</button>
      <button type="button" class="btn btn-default cancel">{{_ "Cancel"}}</button>
      <a data-toggle="modal" class="btn btn-danger delete pull-right" href="#deleteSubjectSourceId">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{_ "Delete"}}
      </a>
    </div>
  </form>
  {{>deleteSubjectSourceId}}
</template>

<template name="deleteSubjectSourceId">
  <div class="modal fade" id="deleteSubjectSourceId" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{_ "delete_kind" translated_kind}}</h4>
        </div>
        <div class="modal-body">
          <h4>{{title}}</h4>
          <p>{{description}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{_ "Cancel"}}</button>
          <button type="button" class="btn btn-danger delete" data-dismiss="modal">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{_ "Delete"}}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
