<template name="metricEdit">
  <form name="metric" class="item-form form">
    <h3>{{title}} <span>{{description}}</span></h3>
    <div class="form-group {{errorClass 'target'}}">
      <div class="controls">
        <label for="target">{{_ "Target"}}</label>
        <input type="number" name="target" id="metric_target" value="{{target}}">
        <span class="help-block">{{errorMessage 'target'}}</span>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary submit">{{_ "OK"}}</button>
      <button type="button" class="btn btn-default cancel">{{_ "Cancel"}}</button>
    </div>
  </form>
</template>
